body {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    /* background-repeat: repeat; */
}

.row1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1px 20% 10px 20%;
    background-color: #008793;
    border-radius: 20px;
    }

.row2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 20% 10px 20%;
    background-color: #008793;
    border-radius: 20px;
}

.row3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-style: solid;
    border-radius: 5px;
    margin: 0 20% 0 20%;
    background-color: #008793;
    border-radius: 20px;
}

.name {
    margin: 0 0 0 5%;
}

.name-left {
    margin: 15% 5%;
    text-align: left;
}

.pic-right {
    background-color: #008793;
    margin: 3% 5%;
    text-align: center;
    border-radius: 80px;
}

img {
    margin-top: 15px;
    margin-left: 60px;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

h1 {
    margin-bottom: 2px;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    
}

#myName1 {
    margin-bottom: 2px;
    font-size: 1.0rem;
}

#myName2 {
    margin-top: 2px;
    font-size: 1.4rem;
}

h3 {
    font-size: 0.8rem;
    text-align: right;
}